---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.dt-published {
  margin-right: 5px;
}

.post-tags {
  margin-top: -10px;
}

.tagpage-alltags {
  margin-top: 100px;
}

.tags-tags {
  font-size: 1.2rem;
  margin-right: 5px;
}
